#content {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 100vh;
	max-height: 100%;
	padding-top: 50px;
}

h2 {
	font-weight: bold;
	color: #E85D9B !important;
}

.content-header {
	padding-top: 20px;
	padding-bottom: 20px;
	max-width: 500px;
}

.content-header > h2 {
	padding-bottom: 20px;
}

.content-card {
	transition: 0.3s;
}

.content-card:hover {
	transform: translate(0, -5px);
	box-shadow: 0 10px 20px 1px rgba(0,0,0,0.3);
}
