.reseller-badge
{
    background-color: #343434;
    border-radius: 20px;
    transition: 0.3s;
    box-shadow: 0 5px 5px 0px rgba(0,0,0,0.3);
}

.reseller-badge:hover
{
    transform: translate(0, -10px);
    box-shadow: 0 20px 20px 0px rgba(0,0,0,0.3);
    cursor: pointer;
}

.reseller-avatar
{
    border-radius: 10px;
}